*~
*#
*.bak
*.out2
julia/julia.ml
julia/parsr.ml
julia/parsr.mli
julia/*.native
julia/*.thy
julia/_build
julia/lem
lem/*.vo
lem/*.d
lem/*.glob
lem/Block.thy
lem/Evm.thy
lem/EvmAuxiliary.thy
lem/EvmNonExec.thy
lem/Keccak.thy
lem/KeccakAuxiliary.thy
lem/BlockAuxiliary.thy
lem/Rlp.thy
lem/RlpAuxiliary.thy
lem/Word160.thy
lem/Word160Auxiliary.thy
lem/Word256.thy
lem/Word256Auxiliary.thy
lem/Word8.thy
lem/Word4.thy
lem/Word32*.thy
lem/Word64*.thy
lem/Word8Auxiliary.thy
lem/Word4Auxiliary.thy
lem/Makefile
lem/*.tex
lem/*.log
lem/*.pdf
lem/*.aux
tester/lem
lem/keccak.ml
lem/evm.ml
lem/block.ml
lem/rlp.ml
lem/word64.ml
lem/word32.ml
lem/word4.ml
lem/word8.ml
lem/word160.ml
lem/word256.ml
lem/rlp*.v
lem/block*.v
lem/keccak*.v
lem/evm*.v
lem/word64*.v
lem/word32*.v
lem/word4*.v
lem/word8*.v
lem/word160*.v
lem/word256*.v
lem/keccakScript.sml
lem/evmScript.sml
lem/word4Script.sml
lem/word8Script.sml
lem/word64Script.sml
lem/word160Script.sml
lem/word256Script.sml
lem/blockScript.sml
lem/evmAuxiliaryScript.sml
lem/evmNonExecScript.sml
lem/keccakAuxiliaryScript.sml
lem/rlpAuxiliaryScript.sml
lem/rlpScript.sml
lem/*Theory.sml
lem/*Theory.sig
lem/*Theory.uo
lem/*Theory.ui
lem/.HOLMK/
lem/.hollogs
tester/*.native
tester/_build
output/
simplewallet/
tester/coverage/
tester/bisect*.out
*.marks
