*~
lem/Block.thy
lem/Evm.thy
lem/EvmAuxiliary.thy
lem/EvmNonExec.thy
lem/Keccak.thy
lem/KeccakAuxiliary.thy
lem/Rlp.thy
lem/RlpAuxiliary.thy
lem/Word160.thy
lem/Word160Auxiliary.thy
lem/Word256.thy
lem/Word256Auxiliary.thy
lem/Word8.thy
lem/Word8Auxiliary.thy
lem/*.tex
lem/*.log
lem/*.pdf
lem/*.aux
lem/keccak.ml
lem/evm.ml
lem/word160.ml
lem/word256.ml
tester/*.native
tester/_build
output/
